body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 2px solid #007BFF;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  flex-direction: column;
}

.todo {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo li {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.todo li:hover {
  background-color: #e9ecef; /* Couleur de fond au survol */
  transform: translateY(-2px);
}

.selected {
  background-color: #d3d3d3; /* Couleur de fond pour la tâche sélectionnée */
}

.mon-bouton {
  margin-top: 20px;
}
